<div class="container">
  <div class="frame">
  </div>

  <h1>Admin Users</h1>
  <p>Find me in app/views/users/index.html.erb</p>

  <% @users.each do |user| %>
    <%= render partial: 'user', locals: { user: user } %>
  <% end %>
</div>